doctype html
html
  head
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap")
    link(rel="stylesheet" href="/css/registration.css" type="text/css")
    script(src="script.js")
  body
    header
      nav
        ul
          li: a(href='/') Home
          if session && session.user
            li |
            li: a(href='/blog') Blog 
            li: a(href='/logout') Log Out
          else
            li |
            li: a(href='/register') Register
            li: a(href='/login') Log In
          
    main
      section#intro-text
        span Welcome
        p This is a travel themed blog where you can view other people's posts and also add in your own travel experiences...
      section#form-section
        if errors
          ul.my-errors
            each error in errors
              li= error.msg
        form(action="/login" method="POST" class="form-registration")
          h1 Login to your account
          label(for="username") Username:
          input(
            type="text"
            id="username"
            name="username"
            value=(data && data.username) ? data.username : ''
          )
          label(for="password") Password:
          input(
            type="password"
            id="password"
            name="password"
            value=(data && data.password) ? data.password : ''
          )
          input(
            type="submit"
            value="Login"
            class="btn"
          )
